# general imports
matplotlib
plotly
pandas

# model imports
torch >= 1.2.0
pytorch-lightning
scikit-learn
torchvision
timm

# experiment imports
hydra-core
wandb

# data imports
dvc
dvc-gdrive
dvc-gs

# app imports
fastapi
uvicorn
python-multipart
streamlit
plotly

# cloud imports
google-api-python-client>=2.0.0
